.gradle/
/build/
/run/
/runs/
/run-data/
.idea/
/out/
*.iml
.vscode/
/bin/
.DS_Store
/repo/
**/src/generated/**/.cache/
tools/__pycache__/
fabric/.gradle/
fabric/build/
fabric/run/
fabric/run-server/
